{% extends "users/base.html" %}



{% block body %}
<h1>Welcome {{user.username}}</h1>

<h2>Subs</h2>
<form action="{% url 'add_sub_cart' %}" method="post">
  {% csrf_token %}
  {{ sub_form }}
  <input type="submit" value="Add"/>
</form>

<h2>Pasta</h2>
{% for pasta in pastas %}
  <li>
    {{ pasta }}, {{ pasta.super_id }}
    <a href="{% url 'add_to_cart' pasta.super_id %}">Add to cart</a>

  </li>

{% endfor %}

<h2>Dinner Platters</h2>
{% for platter in platters %}
  <li>
    {{ platter }}, {{ platter.super_id }}
    <a href="{% url 'add_to_cart' platter.super_id %}">Add to cart</a>
  </li>
{% endfor %}

<h2>Salads</h2>
{% for salad in salads %}
  <li>
    {{ salad }}, {{ salad.super_id }}
    <a href="{% url 'add_to_cart' salad.super_id %}">Add to cart</a>
  </li>
{% endfor %}
<h2>Pizzas</h2>
<form action="{% url 'add_pizza_cart' %}" method="post">
  {% csrf_token %}
  {{ form }}
  <input type="submit" value="Submit"/>
</form>

<h2>Cart</h2>
<h4>Items in cart: </h4>
{% for entry in entries %}
<li>
  {{ entry }}
</li>
{% endfor %}
<hr/>
<h3>Total: {{ cart.total }}</h3>
<h5><a href="{% url 'reset_cart' %}">Reset cart</a></h5>
{% endblock %}
